<div class="text-center">
    <h1 class="text-info">Inquiry Confirmation</h1>
    <p>We have recieved your inquiry and someone from our team will contact you shortly!</p>
    <img src="~/images/product/cb9abbde-3c32-4e9e-8d93-367fedb4b860.jpg" class="w-75" />
</div>